<!--
  Generated template for the AdminViewPreviousPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>View</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="convertToExcel()">
          <ion-icon item-right name="download"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-searchbar [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)" (ionInput)="getItems($event)">
    </ion-searchbar>
    <ion-badge item-end (click)="openFilterModal()">
      <ion-icon name="funnel"></ion-icon>
    </ion-badge>
  </ion-item>

  <div *ngIf="openFilter">
    <ion-list>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime [max]="maxDate" [pickerOptions]="customPickerOptionFrom" [(ngModel)]="data.startDate"
          display-timezone="utc">X</ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime [max]="maxDate" [min]="data.startDate" [pickerOptions]="customPickerOptionEndFrom"
          [(ngModel)]="data.endDate" display-timezone="utc" (ionChange)="filterItem(data)" [disabled]="data.startDate">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Status</ion-label>
        <ion-select [(ngModel)]="data.status" (ionChange)="filterItem(data)">
          <ion-option *ngFor="let s of status" [value]="s.value">
            {{s.value}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item *ngIf="data.searchBy" (input)="filterItem(data)">
        <ion-input value="" [(ngModel)]="data.searchByText" [placeholder]="data.searchBy"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Showing {{allcomplaint.length}} of {{totalRecord}} entries</ion-label>
      </ion-item>
      <ion-item *ngIf="allcomplaint.length === 0">
        <ion-label>Data not Found</ion-label>
      </ion-item>
    </ion-list>
  </div>


  <div *ngFor="let c of allcomplaint">
    <ion-card>
      <ion-card-header>
        <h2><b> {{c.c_id}}</b> </h2>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col> {{c.c_desc}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Date:</ion-col>
          <ion-col>{{c.c_date | convertMachinName}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Status:</ion-col>
          <ion-col>{{c.c_status}}</ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>