<!--
  Generated template for the CustRaiseComplaintPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Raise Complaint</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content>
    <ion-list lines="none">
      <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

        <ion-item>
          <ion-label floating>Descrption</ion-label>
          <ion-textarea formControlName="name"></ion-textarea>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message"
              *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-label>Engg Type</ion-label>
          <ion-select formControlName="engg_type">
            <ion-option *ngFor="let mach of typesOfMachin" [value]="mach.key">
              {{mach.value}}</ion-option>
          </ion-select>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.engg_type">
            <div class="error-message"
              *ngIf="validations_form.get('engg_type').hasError(validation.type) && (validations_form.get('engg_type').dirty || validations_form.get('engg_type').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label>Problem Starting Date</ion-label>
          <ion-datetime [max]="maxDate" formControlName="u_Joining_date" display-timezone="utc"></ion-datetime>
          
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.u_Joining_date">
            <div class="error-message"
              *ngIf="validations_form.get('u_Joining_date').hasError(validation.type) && (validations_form.get('u_Joining_date').dirty || validations_form.get('u_Joining_date').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <button full color="primary" class="submit-btn" expand="full" type="submit"
          [disabled]="!validations_form.valid">Submit</button>
      </form>
    </ion-list>

</ion-content>