page-engg-accept-complaint {
    ion-content{
        .col{
            border: 1px solid #f781a1 !important;
        }
    .searchbar-input-container {
        width: 70% !important;
        margin: auto;
    }
}
}
