<!--
  Generated template for the AcceptComplaintPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Accept Complaint</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <b *ngIf="complaintData.length === 0" style="text-align: center;    display: block;font-size: 2em; color:red;">Data not
    Found</b>
  <div *ngFor="let c of complaintData">
    <ion-card>
      <ion-card-header>
        <h2><b> {{c.c_id}}</b> </h2>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col> {{c.c_desc}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Date:</ion-col>
          <ion-col>{{c.c_date | convertMachinName}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Status:</ion-col>
          <ion-col>{{c.c_status}}</ion-col>
        </ion-row>
        <ion-row>
          <button (click)="action(c)" ion-button>View</button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>



</ion-content>