page-admin-assign-engg {
    #backBtn {
        .back-button {
            display: block;
        }
    }
    #searchEngg{
        ion-title {
            float: left;
        }
        [ion-button]{
            float:right ;
        }
    }
    ion-content { 
    section{
        .assignBtn{
            width:100%
        }
        margin:10px;
        table, th, td {
          margin:auto;
          border: 1px solid black;
          button{
              font-size: 14px;
          }
        }}
    }
}
