tab {
    .firstContainer{
        width:100%;
        text-align: center;
        .createCustomer{
            width: 50%;
            margin: 10px;
            border: 2px solid #ffcccc;
            border-radius: 3px;
        }
        .createEngg{
            width: 50%; 
            margin:10px;
            border: 2px solid #ffcccc;  
            border-radius: 3px;

        }

    }

}
